@{
    ViewBag.Title = "Home Page";
}
@using SkillTree_MVC_HW.Models.ViewModel
@model IEnumerable<SkillTree_MVC_HW.Models.ViewModel.PersonalAccountingViewModel>

<h1>目前金額總攬</h1>

<div class="row">
    <div class="col-md-4">
        <h2>支出總額</h2>
        <p>
            @{
                decimal exAmount = 0;
                foreach (var personalAccountingViewModel in Model.Where(a => a.Category == PersonalAccountingViewModel.RecordCategory.Expenditure))
                {
                    exAmount += personalAccountingViewModel.Amount;
                }
            }
            @exAmount.ToString("#,#")
        </p>
    </div>
    <div class="col-md-4">
        <h2>收入總額</h2>
        <p>
            @{
                decimal inAmount = 0;
                foreach (var personalAccountingViewModel in Model.Where(a => a.Category == PersonalAccountingViewModel.RecordCategory.Income))
                {
                    inAmount += personalAccountingViewModel.Amount;
                }
            }
            @inAmount.ToString("#,#")
        </p>
    </div>
    <div class="col-md-4">
        <h2>淨值</h2>
        <p>
            @((inAmount - exAmount).ToString("#,#"))
        </p>
    </div>
</div>